LeagueSharpFizz/LeagueSharpFizz/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cs
LeagueSharpFizz/LeagueSharpFizz/obj/x86/Release/Math Fizz.csproj.FileListAbsolute.txt
LeagueSharpFizz/LeagueSharpFizz/bin/x86/Release/LeagueSharpFizz.exe.config
*.manifest
LeagueSharpFizz/LeagueSharpFizz/bin/x86/Release/LeagueSharpFizz.vshost.exe.config